<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style.css">
    <title>CRASH</title>
</head>

<body>
    <div class="container">
        <form class="input-section" method="get" action="crash-predict">
            <label for="vehicle">Veículo:</label>
            <input type="text" id="vehicle" name="vehicle" required>

            <label for="local">Trecho:</label>
            <input type="text" id="local" name="local" required>

            <label for="way">Sentido:</label>
            <input type="text" id="way" name="way" required>

            <label for="time">Horário:</label>
            <input type="text" id="time" name="time" required>

            <button type="submit" id="predict">Prever</button>
        </form>
        <div id="data-list" class="data-list"></div>
    </div>
</body>

</html>